<a href="https://colab.research.google.com/github/Sedzay/les4/blob/main/Hw2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
#Прочитайте файл 2017_jun_final.csv за допомогою методу read_csv
df = pd.read_csv("/content/sample_data/2017_jun_final.csv")
#print(df)

In [7]:
#Прочитайте отриману таблицю, використовуючи метод head
df.head()

,N,Посада,Мова програмування,Спеціалізація,Загальний досвід роботи,Досвід роботи на поточному місці,Зарплата на місяць,Зміна зарплати за 12 місяців,Місто,Розмір компанії,...,Ще студент,Рівень англійської,Предметна область,Дата заповнення,User.Agent,exp,current_job_exp,salary,Валюта,cls
0,1,Junior QA engineer,NaN,Manual QA,0.5,0.5,400,0,Харків,до 10 осіб,...,True,Pre-intermediate (нище середнього),"iOS,eCommerce",12/06/2017 12:38:08,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,0.5,0.5,400,NaN,QA
1,2,Junior QA engineer,NaN,Manual QA,менше 3 місяців,менше 3 місяців,430,130,Харків,більше 1000 осіб,...,True,Upper-Intermediate (вище середнього),Веб-розробка,12/06/2017 12:42:51,Mozilla/5.0 (iPad; CPU OS 10_2_1 like Mac OS X...,0.0,0.0,430,NaN,QA
2,3,Software Engineer,C#/.NET,NaN,4,1,2500,800,Київ,до 1000 осіб,...,False,Intermediate (середній),"Веб-розробка,Корпоративні системи",12/06/2017 13:02:47,Mozilla/5.0 (Windows NT 10.0; Win64; x64) Appl...,4.0,1.0,2500,NaN,DEV
3,4,Software Engineer,JavaScript,NaN,5,4,2000,400,Одеса,до 200 осіб,...,False,Pre-intermediate (нище середнього),"Desktop Applications,Веб-розробка",12/06/2017 13:03:01,Mozilla/5.0 (Windows NT 6.1; Win64; x64) Apple...,5.0,4.0,2000,NaN,DEV
4,5,Senior Software Engineer,JavaScript,NaN,10 і більше років,0.5,4500,500,Інше,до 10 осіб,...,False,Intermediate (середній),"Desktop Applications,Веб-розробка",12/06/2017 13:03:47,Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like...,10.0,0.5,4500,NaN,DEV

In [5]:
#Визначте розмір таблиці за допомогою методу shape
df.shape

(8704, 25)

In [6]:
#Визначте типи всіх стовпців за допомогою dataframe.dtypes
df.dtypes

N                                     int64
Посада                               object
Мова програмування                   object
Спеціалізація                        object
Загальний досвід роботи              object
Досвід роботи на поточному місці     object
Зарплата на місяць                    int64
Зміна зарплати за 12 місяців          int64
Місто                                object
Розмір компанії                      object
Тип компанії                         object
Стать                                object
Вік                                   int64
Освіта                               object
Університет                          object
Ще студент                             bool
Рівень англійської                   object
Предметна область                    object
Дата заповнення                      object
User.Agent                           object
exp                                 float64
current_job_exp                     float64
salary                                int64
Валюта                               object
cls                                  object
dtype: object

In [7]:
#Порахуйте, яка частка пропусків міститься в кожній колонці (використовуйте методи isnull та sum)
missing_values = df.isnull().sum()
print(missing_values)
missing_percent = (missing_values / len(df))*100
print(missing_percent)

N                                      0
Посада                                 0
Мова програмування                  3850
Спеціалізація                       7219
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Університет                          358
Ще студент                             0
Рівень англійської                     0
Предметна область                    223
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Валюта                              8694
cls                                 1574
dtype: int64
N                                    0.000000
Посада                               0.000000
Мова програмування                  44.232537
Спеціалізація                       82.938879
Загальний досвід роботи              0.000000
Досвід роботи на поточному місці     0.000000
Зарплата на місяць                   0.000000
Зміна зарплати за 12 місяців         0.000000
Місто                                0.000000
Розмір компанії                      0.000000
Тип компанії                         0.000000
Стать                                0.000000
Вік                                  0.000000
Освіта                               0.000000
Університет                          4.113051
Ще студент                           0.000000
Рівень англійської                   0.000000
Предметна область                    2.562040
Дата заповнення                      0.000000
User.Agent                           0.000000
exp                                  0.000000
current_job_exp                      0.000000
salary                               0.000000
Валюта                              99.885110
cls                                 18.083640
dtype: float64

In [8]:
#Видаліть усі стовпці з пропусками, крім стовпця "Мова програмування"
df_cleaned = df.dropna(axis=1,how='any').join(df.loc[:,'Мова програмування'])
'''
columns_to_keep = ['Мова програмування']
print(columns_to_keep)
columns_to_drop = df.columns.difference(columns_to_keep)
print(columns_to_drop)
# Перетворення назв стовпців на їх індекси
columns_to_drop_indices = [df.columns.get_loc(col) for col in columns_to_drop]
print(columns_to_drop_indices)
# Видалення стовпців з пропусками
df_cleaned = df.dropna(subset=columns_to_drop_indices, how='any', axis=1)

#У КОДІ ЩО ЗАКОМІЧЕННИЙ ЧОМУСЬ ВИДАЛЯЄ МОВУ ПРОГРАМУВАННЯ
'''

"\ncolumns_to_keep = ['Мова програмування']\nprint(columns_to_keep)\ncolumns_to_drop = df.columns.difference(columns_to_keep)\nprint(columns_to_drop)\n# Перетворення назв стовпців на їх індекси\ncolumns_to_drop_indices = [df.columns.get_loc(col) for col in columns_to_drop]\nprint(columns_to_drop_indices)\n# Видалення стовпців з пропусками\ndf_cleaned = df.dropna(subset=columns_to_drop_indices, how='any', axis=1)\n\n#У КОДІ ЩО ЗАКОМІЧЕННИЙ ЧОМУСЬ ВИДАЛЯЄ МОВУ ПРОГРАМУВАННЯ\n"

In [9]:
#Знову порахуйте, яка частка пропусків міститься в кожній колонці і переконайтеся,
#що залишився тільки стовпець "Мова.програмування"
missing_values_after_clean = df_cleaned.isnull().sum()
print(missing_values_after_clean)

N                                      0
Посада                                 0
Загальний досвід роботи                0
Досвід роботи на поточному місці       0
Зарплата на місяць                     0
Зміна зарплати за 12 місяців           0
Місто                                  0
Розмір компанії                        0
Тип компанії                           0
Стать                                  0
Вік                                    0
Освіта                                 0
Ще студент                             0
Рівень англійської                     0
Дата заповнення                        0
User.Agent                             0
exp                                    0
current_job_exp                        0
salary                                 0
Мова програмування                  3850
dtype: int64

In [10]:
#Видаліть усі рядки у вихідній таблиці за допомогою методу dropna
df_droped = df.dropna()
missing_values_after_drop = df_droped.isnull().sum()
print(missing_values_after_drop)

N                                   0.0
Посада                              0.0
Мова програмування                  0.0
Спеціалізація                       0.0
Загальний досвід роботи             0.0
Досвід роботи на поточному місці    0.0
Зарплата на місяць                  0.0
Зміна зарплати за 12 місяців        0.0
Місто                               0.0
Розмір компанії                     0.0
Тип компанії                        0.0
Стать                               0.0
Вік                                 0.0
Освіта                              0.0
Університет                         0.0
Ще студент                          0.0
Рівень англійської                  0.0
Предметна область                   0.0
Дата заповнення                     0.0
User.Agent                          0.0
exp                                 0.0
current_job_exp                     0.0
salary                              0.0
Валюта                              0.0
cls                                 0.0
dtype: float64

In [11]:
#Визначте новий розмір таблиці за допомогою методу shape
df.shape

(8704, 25)

In [12]:
#Створіть нову таблицю python_data, в якій будуть тільки рядки зі спеціалістами, які вказали мову програмування Python
python_tbl = df[df['Мова програмування'] == 'Python']

#python_tbl.head()

In [13]:
#Визначте розмір таблиці python_data за допомогою методу shape
python_tbl.shape

(207, 25)

In [14]:
#Використовуючи метод groupby, виконайте групування за стовпчиком "Посада"
group_python_tbl = python_tbl.groupby('Посада')
#for posada, group in group_python_tbl:
    #print("Посада:", posada)
    #print(group.head())

In [16]:
#Створіть новий DataFrame, де для згрупованих даних за стовпчиком "Посада",
#виконайте агрегацію даних за допомогою методу agg і знайдіть мінімальне
#та максимальне значення у стовпчику "Зарплата.в.місяць"
aggregated_data = group_python_tbl.agg({'Зарплата на місяць': ['min', 'max']})
print(aggregated_data)

                         Зарплата на місяць
                                        min   max
Посада
Junior Software Engineer                100  1250
Senior Software Engineer               1300  9200
Software Engineer                       500  5400
System Architect                       3000  5000
Technical Lead                         1425  6200

In [17]:
#Створіть функцію fill_avg_salary, яка повертатиме середнє значення заробітної плати на місяць.
def fill_avg_salary(dataframe):
    # Обчислення середнього значення заробітної плати
    avg_salary = dataframe['Зарплата на місяць'].mean()

    return avg_salary

In [20]:
#Використовуйте її для методу apply та створіть новий стовпчик "avg"
aggregated_data['avg'] = group_python_tbl.apply(lambda aggregated_data: fill_avg_salary(aggregated_data))

print(aggregated_data.head())

                         Зарплата на місяць                avg
                                        min   max
Посада
Junior Software Engineer                100  1250   560.841270
Senior Software Engineer               1300  9200  3387.096774
Software Engineer                       500  5400  1799.070000
System Architect                       3000  5000  4000.000000
Technical Lead                         1425  6200  3165.909091

In [21]:
#Створіть описову статистику за допомогою методу describe для нового стовпчика.
avg_descr = aggregated_data['avg'].describe()
print(avg_descr)

count       5.000000
mean     2582.583427
std      1387.255829
min       560.841270
25%      1799.070000
50%      3165.909091
75%      3387.096774
max      4000.000000
Name: avg, dtype: float64

In [22]:
#Збережіть отриману таблицю в CSV файл
aggregated_data.to_csv('aggregated_data.csv')